.container {
    align-items: stretch; 
    float: none;
   
  }
.bet{
  align-items: center; 
    float: none;
    padding-right: 60px;
}
  .player {
    align-items: center; 
    float: none;
    padding-right: 450px;
   
  }
  .image{
      align-items: center; 
      float: none;
    padding: 10px;
  }