.container {
    align-items: center; 
    float: none;
   
  }

  .player {
    align-items: center; 
    float: none;
    padding-right: 60px;
   
  }
  .image{
      align-items: center; 
      float: none;
    padding: 10px;
  }